# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np.매소드()
* np.속성

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [1]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] # 리스트 표기법
data

[-0.4411375760513975,
 0.8610705531387671,
 1.45731946743497,
 -1.0950427242241982,
 -0.19578746773336672,
 0.5892732995583693,
 -0.4802732527144979]

In [3]:
data = []
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[0.3777227008436359, -0.7732004708982976, -0.021662456359503143, 0.6313396124693773, 0.4072593271368901, -1.5300639893930228, 0.3725520674030121]

# 2. 변수와 참조

In [12]:
a = [1, 2, 3] #참조

In [13]:
b = a # 변수 a가 동일 객체 [1,2,3]을 참조
b

[1, 2, 3]

In [16]:
a.append(4)
#a
b

[1, 2, 3, 4, 4, 4]

# 3. 사용자 정의 함수

In [22]:
def append_element(some_list, element): # element는 파이썬에서 사용하는 모든 것이 들어갈 수 있음
    some_list.append(element) # 파이썬에서만 이렇게 사용 가능

In [23]:
data = [1, 2, 3]
append_element(data, {1:"one",2:"two"})
data

[1, 2, 3, {1: 'one', 2: 'two'}]

# 4. 내장형 함수:type()

In [29]:
a = 5 #int
print(type(a))
a = "foo" #str
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [33]:
"5" + 5 #자동형변환 불가능 타입을 맞춰서 사용해줘야함

TypeError: can only concatenate str (not "int") to str

In [34]:
# 이 때는 숫자 간 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수: instance()

In [35]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [36]:
a = 5
isinstance(a, int)

True

In [1]:
a = 5
b = 4.5
isinstance(a, (int, float)) # a의 타입이 int or float인지 확인 후 타입이 맞으면 true 아니면 false
isinstance(b, (int, float))

True

# 7. 내장함수 : iter()
* str
* list
* tuple

In [2]:
def isiterable(obj):
    try:
        iter(obj) # iter 호출
        return True
    except TypeError: # not iterable
        return False

In [5]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [6]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. keyword : is , is not
* is : 두 개의 객체가 동일 여부 확인
* is not : 두 개의 객체가 상이한지 여부 확인

In [17]:
a = [1, 2, 3] #list
a
b = a
b
c = list(a) #새로운 객체가 생성, 다른 위치에 생성된 리스트를 c가 레퍼런스하는 것
c
a is b
a is not c # 다른 객체에 다른 주소를 가지고 있기 때문에 트루가 나옴

True

In [18]:
a == c # 객체의 내용 비교

True

# 9. None 객체 
* 파이썬 결측값: null 중요함

In [21]:
a = None
a
print(a)
a is None

None

True

# 10. list 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
    * 수정, 삭제, 추가
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step][시작:끝:간격]
* 메소드
    * 변수명.count()
* 연산자 : +,* (정수 수만큼 새로운 리스트를 만들어줌)

In [22]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) #수정
a_list

['foo', 2, (3, 4)]

# 11. tuple 자료형
* iterable 객체
* vr = ()
* vr = tuple()
* immuable 객체
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step][시작:끝:간격]
* 메소드
    * tup.count()
* 연산자 : +,*

In [23]:
a_tuple = (3, 5, (4, 5))
a_tuple[1]

a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [24]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = " "
* vr = str()
* immuable 객체
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step][시작:끝:간격]
* 메소드:
    * str.count()
    * str.replace()
* 연산자 : +, *

In [25]:
c = """
This is a longer string that
spans multiple lines
"""

In [26]:
c.count("\n")

3

In [29]:
a = "this is a string"
a[10]
a[10] = "f" # 이 방법으로는 수정불가

TypeError: 'str' object does not support item assignment

In [32]:
b = a.replace("string", "longer string") # 수정 -> 기존의 문자열이 아닌 새로운 문자열
b
# a #a는 변하지 않음

'this is a longer string'

In [33]:
a

'this is a string'

In [34]:
a = 5.6 #형변환하는 과정
s = str(a)
print(s)

5.6

In [36]:
s = "python"
list(s)
s[:3] #슬라이싱하는 문법 : 앞에 생략한 것은 0부터 시작, 표준 표기법은 s[0:3:1]

'pyt'

In [41]:
# s = "12\\34" #잘안써서 뺌
# print(s)

In [40]:
# s = r"this\has\no\special\characters" #잘안써서 뺌
# s

In [37]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포맷 방법>

In [38]:
template = "{0:.2f} {1:s} are worth US${2:d}" #method1
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [39]:
# template.format(88.46, "Argentine Pesos", 1)

In [43]:
amount = 10 #method2 먼저 변수에 저장하고 변수 이름을 사용해서 포맷함
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* bytes(변수명임).decoding()

In [45]:
val = "español"
val

'español'

In [50]:
val_utf8 = val.encode("utf-8") #바이트코드로 먼저 바꿈
val_utf8
type(val_utf8) #변환

bytes

In [51]:
val_utf8.decode("utf-8") # 복원

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [52]:
True and True
False or True

True

In [53]:
int(False) # 0
int(True) # 1 (0이 아닌 숫자)

1

In [54]:
a = True
b = False
not a
not b

True

In [56]:
#형변환
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [57]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta # 주식 같은 것의 시간 데이터를 가져오는 것 매우 중요

In [65]:
from datetime import datetime, date, time #모두 객체
dt = datetime(2011, 10, 29, 20, 30, 21)
dt
dt.day #날짜
dt.minute #시간

30

In [64]:
dt.date() #날짜 전체 정보
dt.time() # 시간 전체 정보

datetime.time(20, 30, 21)

In [66]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [67]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [69]:
dt_hour = dt.replace(minute=0, second=0) #수정하기 위해 replace사용
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [70]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [75]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 시간 차이를 구하는 것 -> 기간
print(delta) # 기간, 시간차이를 출력
type(delta) # 데이터 타입을 출력,데이터 타입 구조를 바꿀 때 사용됨

17 days, 1:59:39

datetime.timedelta

In [76]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [77]:
# 기본적인것들
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator : 
* range()
* enmrate()
* zip()
* map()

In [81]:
range(10) # generator 객체
list(range(10)) # 데이터 접근하려면 list 형변환, 데이터 접근 1
for i in range(10): #또는 for문을 사용, 데이터 접근법 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [86]:
seq = [1, 2, 3, 4]
for i in range(len(seq)): # generator객체임
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [87]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

mv 저장을 여기에 하고 싶지 않으면
mv 파일 where